<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <h1 class="index-title">我是首頁  我要推上去</h1>
    <p>https://github.com/Josietaknow/ViteTest0724.git</p>

    <h2>git repo: <a href="https://github.com/Josietaknow/ViteTest0724"> https://github.com/Josietaknow/ViteTest0724</a></h2>
    <h2>live: <a href="https://josietaknow.github.io/ViteTest0724/"> https://josietaknow.github.io/ViteTest0724/</a></h2>

    <img src="../assets/images/cat.jpg" style="width: 300px;" alt="cat">

    <%- include('./layout/footer'); -%>

    test

    <script type="module" src="../main.js"></script>
  </body>
</html>
